footer {
    background-color: #0c0b0b;
    padding: 20px;
    text-align: center;
    border-top: 2px solid #00bf63;
}

footer ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

footer li {
    display: inline;
}

footer img {
    width: 40px;
    height: auto;
    transition: transform 0.3s;
}

footer img:hover {
    transform: scale(1.1);
}

footer p {
    color: #00bf63;
    margin-top: 10px;
    font-style: italic;
    font-size: 1.2em;
    padding-top: 10px;
}

footer a.nav-item {
    text-decoration: none;
    color: #00bf63;
    font-weight: bold;
    padding: 10px 15px;
    border: 2px solid #00bf63;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    height: 40px;
    display: flex;
    align-items: center;
}

footer a.nav-item:hover {
    background-color: #00bf63;
    color: #0c0b0b;
}

@media (max-width: 768px) {
    footer {
        padding: 15px;
    }

    footer p {
        font-size: 1em;
    }

    footer a.nav-item {
        padding: 8px 12px;
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {
    footer p {
        font-size: 0.9em;
    }

    footer a.nav-item {
        padding: 6px 10px;
        font-size: 0.8em;
    }
}