body {
    font-family: 'Poppins', sans-serif;
    /* Cambia 'Poppins' por la fuente que elegiste */
    margin: 0;
    padding: 0;
    background-color: #000;
    /* Si deseas un fondo negro */
    color: #00bf63;
    /* Color del texto */
}